body{
  background-color: #1C3041;
  display: flex;
  flex-direction: column;
  align-content: center;
}

h1 {
  text-align: center;
  color: rgb(154, 252, 255);
  font-family: 'Carter One', Times, serif;
  font-size: 4rem;
  margin-top: 4rem;
}

main{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center; 
  font-family: 'Libre Franklin', Times, serif;
  color: rgb(129, 243, 232);
  width: 80vw;
  margin: auto;
}

form{
  margin: auto;
}
input{
  font-size: 1rem;
padding: 0.5rem;
margin: 0.5rem;
}
button{
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

a {
  font-family: 'Libre Franklin', Times, serif;
  color: #FF6F4F;
  text-decoration: none;
}
a:hover {
  color: #89043D;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.container-style{
  margin-top: 2rem;
  padding: 1rem;
  border: 3px solid salmon;
  }

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}